{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'clear-both',
] %}

<script>

  document.addEventListener("runEthGlobal", () => {
    console.log("{{content}}")
    if("{{content.address}}" !== "") {
      window.ethFundraiser.setAddress("{{content.address}}")
    }
    window.ethFundraiser.setPosition("{{content.position}}")
    window.ethFundraiser.setTitleTextAndColor("{{content.title}}","{{content.titleColor}}")
    window.ethFundraiser.setBannerBackgroundColor("{{content.bannerBackground}}")
    window.ethFundraiser.setSVGBackgroundAndIcon("{{content.svgCircle}}", "{{content.svgEthIcon}}")
    window.ethFundraiser.setBannerButtonsBackgroundAndTextColor("{{content.buttonBackground}}", "{{content.buttonText}}")
    window.ethFundraiser.setCloseButtonColor("{{content.closeBtnColor}}")
    window.ethFundraiser.setEthTextColor("{{content.ethPriceColor}}")
  })




</script>
{{ attach_library('eth_fundraiser/eth_fundraiser') }}